/env/
/14_Template_Inheritance_dan_Include/.idea/
/13_Static_File_menambah_bootstrap_dan_js/.idea/
/12-Static_File_menambah_css/.idea/
/11-Static_File_menambah_gambar/.idea/
/09-Templates_Variable/.idea/
/08-Templates_pada_App/.idea/
/07-Menggunakan_URL_pada_App/.idea/
/06-Pengenalan_App/.idea/
/05-Pengenalan_Templates/.idea/
/04-Pengenalan_Views/.idea/
/03-Hello_World/.idea/
/15_Membuat_Model_Pada_App/.idea/
/18_Menampilkan_Data_ke_Views/.idea/
/19_Model_Field_Tipe-data_Options_migrasi/.idea/
