{% extends 'base.html' %}
{% block title %}Add Produk{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
   <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit">Tambah Produk</button>
    </form>
{% endblock %}